body {
	height: 100%;
	margin: 0px;
	background: url(../images/Background.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.navbar {
	margin-bottom: 20px;
	border-radius: 0;
}

.image {
	margin-bottom: 20px
}

.panel-body {
	background-color: rgb(239, 238, 227);
	text-align: center;
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.col-sm-3 {
	/* display: flex;
	justify-content: center; */
	margin-bottom: 30px;
	margin-top: 30px;
}

.img-responsive {
	border-radius: 25px;
	height: 200px;
	width: auto;
}

#profile-photo {
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.social-links {
	margin-bottom: 10px;
}

#footer {
	justify-content: center;
}


