h1 {
			text-align: center;
			font-size: 40px;
			color: white;
			background-color: black;
			text-decoration: underline;
			border: 1px color black;
		}

		h2 {
			text-align: left;
			font-size: 30px;
			
		}

.photo{
	height: 30px;
	width: 30px;
}